/* *********************************************
[Master Stylesheet]

Name: PlayMe Website CSS

*********************************************

[Tables of CSS Content]

+ body
 - 01.0 Reboot CSS
 - 02.0 Spacing CSS
 - 03.0 Preloader CSS
 - 04.0 Heading CSS
 - 05.0 Backtotop CSS
 - 06.0 Buttons CSS
 - 07.0 Header CSS
 - 08.0 Hero CSS
 - 09.0 Music CSS
 - 10.0 Guest CSS
 - 11.0 About CSS
 - 12.0 Newsletter CSS
 - 13.0 Breadcrumb CSS
 - 15.0 Widget CSS
 - 16.0 Footer CSS
 - 17.0 Contact CSS

  ---------------------------------------------
  [Color Codes]

  $heading: #232323; [Heading Color]
  $text: #666666; [Text Color]
  $bg-gray: #f4f4f4; [Gray Background]
  $primary: var(--blue); [Primary Color]
  $white: #ffffff; [White Color]
  $dark: #000000; [Dark Color]
  $border: #ebebeb; [Border Color]
  $hover: var(--blue); [Hover Color]
  $secondary: #a6a6a6; [Secondary Color]

  ---------------------------------------------
  [Font Family: 'HK Grotesk']
--------------------------------------------- */
/* Import Fonts & All CSS */
@import url(css/default-assets/hkgrotesk-fonts.css);
@import url(css/bootstrap.min.css);
@import url(css/animate.css);
@import url(css/default-assets/classy-nav.css);
@import url(css/owl.carousel.min.css);
@import url(css/magnific-popup.css);
@import url(css/default-assets/audioplayer.css);
@import url(css/font-awesome.min.css);
/* :: 1.0 Reboot CSS */
* {
    margin: 0;
    padding: 0;
    --blue: #0645FF
}

body {
  font-family: "HK Grotesk";
  font-weight: 400;
  font-size: 14px; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "HK Grotesk";
  color: #232323;
  line-height: 1.4;
  font-weight: 500; }

a,
a:active,
a:focus,
a:hover {
  color: #232323;
  text-decoration: none;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  outline: none; }

li {
  list-style: none; }

.title {
  color: white;
  text-align: center;
  font-size: 8em;
}

p {
  line-height: 1.9;
  color: #666666;
  font-size: 16px;
  font-weight: 400; }

img {
  max-width: 100%;
  height: auto; }

ul {
  margin: 0;
  padding: 0; }
  ul li {
    margin: 0;
    padding: 0; }

.bg-overlay {
  position: relative;
  z-index: 1; }
  .bg-overlay::after {
    position: absolute;
    content: "";
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: -1;
    background-color: rgba(0, 0, 0, 0.5); }

.box-shadow {
  -webkit-box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.2); }

.bg-img {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }

.jarallax {
  position: relative;
  z-index: 0; }
  .jarallax > .jarallax-img {
    position: absolute;
    object-fit: cover;
    font-family: 'object-fit: cover;';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1; }

#success_fail_info {
  margin-bottom: 30px;
  color: #ffffff;
  text-align: center; }

.mfp-iframe-holder .mfp-close {
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #0645FF;
    text-align: center;
    right: 0;
    padding-right: 0;
    line-height: 32px;
}

.bg-transparent {
  background-color: transparent !important; }

/* ::2.0 Spacing CSS */
.mt-15 {
  margin-top: 15px; }

.mt-30 {
  margin-top: 30px; }

.mt-40 {
  margin-top: 40px; }

.mt-50 {
  margin-top: 50px; }

.mt-70 {
  margin-top: 70px; }

.mt-100 {
  margin-top: 100px; }

.mt-150 {
  margin-top: 150px; }

.mr-15 {
  margin-right: 15px; }

.mr-30 {
  margin-right: 30px; }

.mr-50 {
  margin-right: 50px; }

.mr-100 {
  margin-right: 100px; }

.mb-15 {
  margin-bottom: 15px; }

.mb-30 {
  margin-bottom: 30px; }

.mb-40 {
  margin-bottom: 40px; }

.mb-50 {
  margin-bottom: 50px; }

.mb-70 {
  margin-bottom: 70px; }

.mb-80 {
  margin-bottom: 80px; }

.mb-100 {
  margin-bottom: 100px; }

.ml-15 {
  margin-left: 15px; }

.ml-30 {
  margin-left: 30px; }

.ml-50 {
  margin-left: 50px; }

.ml-100 {
  margin-left: 100px; }

.pt-50 {
  padding-top: 50px !important; }

.section-padding-80 {
  padding-top: 80px;
  padding-bottom: 80px; }

.section-padding-0-80 {
  padding-top: 0;
  padding-bottom: 80px; }

.section-padding-80-0 {
  padding-top: 80px;
  padding-bottom: 0; }

/* :: 3.0 Preloader CSS */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  top: 0;
  left: 0;
  background-color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }
  #preloader .preloader-thumbnail {
    max-width: 50px;
    -webkit-animation: playmerotate linear 1s infinite;
    animation: playmerotate linear 1s infinite; }

@-webkit-keyframes playmerotate {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
@keyframes playmerotate {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg); } }
/* :: 4.0 Heading CSS */
.section-heading {
  position: relative;
  z-index: 1;
  margin-bottom: 50px; }
  .section-heading h2 {
    font-size: 44px;
    text-transform: capitalize;
    margin-bottom: 10px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .section-heading h2 {
        font-size: 30px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .section-heading h2 {
        font-size: 30px;
        margin-bottom: 15px; } }
    @media only screen and (max-width: 767px) {
      .section-heading h2 {
        font-size: 24px;
        margin-bottom: 15px; } }
  .section-heading .line {
    width: 70px;
    height: 5px;
    background-color: var(--blue); }
  .section-heading.text-center .line {
    margin: 0 auto; }
  .section-heading.white h2 {
    color: #ffffff; }

.blog-details-area{
  padding-bottom: 30px;
}

/* :: 5.0 Backtotop CSS */
#scrollUp {
  bottom: 50px;
  font-size: 22px;
  line-height: 42px;
  right: 0;
  width: 40px;
  background-color: var(--blue);
  color: #ffffff;
  text-align: center;
  height: 40px;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-radius: 2px 0 0 2px; }
  #scrollUp:focus, #scrollUp:hover {
    background-color: #000000; }

/* :: 6.0 Buttons CSS */
.playme-btn {
  position: relative;
  z-index: 1;
  min-width: 170px;
  height: 46px;
  line-height: 43px;
  font-size: 14px;
  font-weight: 600;
  display: inline-block;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  color: #232323;
  border-radius: 30px;
  background-color: #ffffff;
  -webkit-transition: all 500ms;
  -o-transition: all 500ms;
  transition: all 500ms;
  border: 2px solid var(--blue);
  letter-spacing: 1px; }
  .playme-btn.active, .playme-btn:focus, .playme-btn:hover {
    box-shadow: none;
    background-color: var(--blue);
    color: #ffffff; }
  .playme-btn.btn-2 {
    background-color: #ffffff;
    color: #232323;
    border: none;
    line-height: 46px; }
    .playme-btn.btn-2:focus, .playme-btn.btn-2:hover {
      background-color: #ffffff;
      color: #232323;
      border: none; }

/* :: 7.0 Header CSS */
.header-area {
  position: fixed;
  z-index: 599;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transition-duration: 500ms;
  -o-transition-duration: 500ms;
  transition-duration: 500ms;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }
  .header-area .main-header-area.sticky {
    top: 0;
    width: 100%;
    position: fixed;
    background-color: #000000;
    box-shadow: 0 3px 50px rgba(0, 0, 0, 0.2);
    border-bottom: none;
    left: 0;
    z-index: 650;
    border-bottom-color: transparent; }

.classy-nav-container {
  background-color: transparent;
  padding: 0 2%; }
  @media only screen and (max-width: 767px) {
    .classy-nav-container {
      padding: 0 15px; } }
  .classy-nav-container .classy-navbar {
    height: 60px;
    padding: 0; }
    @media only screen and (max-width: 767px) {
      .classy-nav-container .classy-navbar {
        height: 70px; } }
    @media only screen and (max-width: 767px) {
      .classy-nav-container .classy-navbar .nav-brand {
        max-width: 90px;
        margin-right: 15px; } }
    .classy-nav-container .classy-navbar .classynav ul li a {
      position: relative;
      z-index: 1;
      font-weight: 500;
      font-size: 14px;
      text-transform: capitalize;
      color: #ffffff; }
      .classy-nav-container .classy-navbar .classynav ul li a:focus, .classy-nav-container .classy-navbar .classynav ul li a:hover {
        color: var(--blue); }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          font-size: 14px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          border-bottom: none;
          font-size: 14px; } }
      @media only screen and (max-width: 767px) {
        .classy-nav-container .classy-navbar .classynav ul li a {
          border-bottom: none;
          font-size: 14px; } }
    .classy-nav-container .classy-navbar .classynav ul li.cn-dropdown-item ul li a {
      font-size: 14px;
      text-transform: capitalize; }
    .classy-nav-container .classy-navbar .classynav ul li.current-item a::after {
      content: '';
      position: absolute;
      width: 80%;
      height: 3px;
      background-color: var(--blue);
      bottom: 0;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%);
      z-index: 1; }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .classy-nav-container .classy-navbar .classynav ul li.current-item a::after {
          width: 100%;
          height: 1px; } }
      @media only screen and (max-width: 767px) {
        .classy-nav-container .classy-navbar .classynav ul li.current-item a::after {
          width: 100%;
          height: 1px; } }

.classynav ul li.has-down > a::after,
.classynav ul li.megamenu-item > a::after {
  color: #ffffff; }

.breakpoint-off .classynav ul li .dropdown {
  background-color: #000000; }

.classynav ul li .dropdown li a {
  border-bottom: none;
  height: 40px; }

.classynav ul li .dropdown li .dropdown li .dropdown li a,
.classynav ul li .dropdown li .dropdown li a {
  border-bottom: none; }

.top-search-area {
  margin: 0 30px;
  padding-right: 30px;
  border-right: 1px solid rgba(255, 255, 255, 0.2); }
  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .top-search-area {
      margin: 0 15px;
      padding-right: 15px; } }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .top-search-area {
      margin: 15px 15px 30px;
      padding-right: 0;
      border-right: none; } }
  @media only screen and (max-width: 767px) {
    .top-search-area {
      margin: 15px 15px 30px;
      padding-right: 0;
      border-right: none; } }
  .top-search-area form {
    position: relative;
    width: 210px;
    z-index: 1; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .top-search-area form {
        width: 180px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .top-search-area form {
        width: 220px; } }
    @media only screen and (max-width: 767px) {
      .top-search-area form {
        width: 220px; } }
    .top-search-area form input.form-control {
      width: 100%;
      height: 35px;
      background-color: transparent;
      border-radius: 0;
      border: none;
      font-size: 14px;
      font-style: italic;
      color: #ffffff; }
      .top-search-area form input.form-control:focus {
        background-color: transparent;
        box-shadow: none; }
    .top-search-area form button {
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      border: none;
      width: 35px;
      height: 35px;
      line-height: 35px;
      background-color: transparent;
      color: #ffffff;
      text-align: right; }
      .top-search-area form button:focus {
        outline: none; }

.top-social-area {
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    .top-social-area {
      margin-left: 30px; } }
  @media only screen and (max-width: 767px) {
    .top-social-area {
      margin-left: 30px; } }
  .top-social-area a {
    display: inline-block;
    font-size: 16px;
    margin: 0 15px;
    color: #ffffff; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .top-social-area a {
        margin: 0 5px; } }
    .top-social-area a:first-child {
      margin-left: 0; }
    .top-social-area a:last-child {
      margin-right: 0; }
    .top-social-area a:focus, .top-social-area a:hover {
      font-size: 16px;
      color: var(--blue); }

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .breakpoint-on .classy-navbar .classy-menu {
    background-color: #000000;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.2); }

  .breakpoint-on .classynav > ul > li > a {
    background-color: #000000; }

  .classycloseIcon .cross-wrap span {
    background-color: #ffffff; } }
@media only screen and (max-width: 767px) {
  .breakpoint-on .classy-navbar .classy-menu {
    background-color: #000000;
    box-shadow: 0 0 30px 0 rgba(255, 255, 255, 0.2); }

  .breakpoint-on .classynav > ul > li > a {
    background-color: #000000; }

  .classycloseIcon .cross-wrap span {
    background-color: #ffffff; } }
/* :: 8.0 Hero CSS */
.welcome-welcome-slide {
  position: relative;
  z-index: 2;
  width: 100%;
  height: 950px; }
  @media only screen and (max-width: 767px) {
    .welcome-welcome-slide {
      height: 1200px; } }
  @media only screen and (min-width: 480px) and (max-width: 767px) {
    .welcome-welcome-slide {
      height: 1300px; } }

.welcome-text {
  position: relative;
  z-index: 1; 
  text-align: center;}
  .welcome-text h2 {
    font-size: 72px;
    color: #ffffff;
    display: block;
    text-transform: capitalize; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .welcome-text h2 {
        font-size: 48px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .welcome-text h2 {
        font-size: 48px; } }
    @media only screen and (max-width: 767px) {
      .welcome-text h2 {
        font-size: 36px; } }
  .welcome-text h5 {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 40px; }

/* :: 9.0 Music CSS */
.playme-music-area {
  position: relative;
  z-index: 2;
  background-color: #ffffff; }
  .playme-music-area .playme-music-thumbnail {
    position: relative;
    z-index: 1;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 260px;
    flex: 0 0 260px;
    max-width: 260px;
    width: 260px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .playme-music-area .playme-music-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 300px;
        flex: 0 0 300px;
        max-width: 300px;
        width: 300px; } }
    @media only screen and (max-width: 767px) {
      .playme-music-area .playme-music-thumbnail {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%; } }
  .playme-music-area .playme-music-content {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 calc(100% - 260px);
    flex: 0 0 calc(100% - 260px);
    max-width: calc(100% - 260px);
    width: calc(100% - 260px);
    position: relative;
    z-index: 1;
    padding: 30px; }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .playme-music-area .playme-music-content {
        font-size: 14px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 calc(100% - 300px);
        flex: 0 0 calc(100% - 300px);
        max-width: calc(100% - 300px);
        width: calc(100% - 300px); } }
    @media only screen and (max-width: 767px) {
      .playme-music-area .playme-music-content {
        font-size: 12px;
        padding: 20px;
        -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%;
        width: 100%; } }
    .playme-music-area .playme-music-content .music-published-date {
      font-size: 12px;
      display: block;
      text-transform: uppercase;
      color: var(--blue);
      letter-spacing: 1px;
      font-weight: bold; }
    .playme-music-area .playme-music-content h2 {
      font-size: 24px;
      display: block;
      margin-bottom: 5px;
      line-height: 1.3; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .playme-music-area .playme-music-content h2 {
          font-size: 16px; } }
      @media only screen and (min-width: 768px) and (max-width: 991px) {
        .playme-music-area .playme-music-content h2 {
          font-size: 16px; } }
      @media only screen and (max-width: 767px) {
        .playme-music-area .playme-music-content h2 {
          font-size: 16px; } }
    .playme-music-area .playme-music-content .music-meta-data p {
      text-transform: uppercase;
      color: #666666;
      font-size: 14px; }
      @media only screen and (max-width: 767px) {
        .playme-music-area .playme-music-content .music-meta-data p {
          font-size: 12px; } }
      .playme-music-area .playme-music-content .music-meta-data p a {
        text-transform: uppercase;
        color: #666666;
        font-size: 14px; }
        @media only screen and (max-width: 767px) {
          .playme-music-area .playme-music-content .music-meta-data p a {
            font-size: 12px; } }
        .playme-music-area .playme-music-content .music-meta-data p a:focus, .playme-music-area .playme-music-content .music-meta-data p a:hover {
          color: var(--blue); }
    .playme-music-area .playme-music-content .likes-share-download {
      position: relative;
      z-index: 1;
      padding-top: 15px;
      border-top: 1px solid #ebebeb; }
      .playme-music-area .playme-music-content .likes-share-download a {
        color: #a6a6a6;
        font-size: 14px; }
        @media only screen and (max-width: 767px) {
          .playme-music-area .playme-music-content .likes-share-download a {
            font-size: 12px; } }
        .playme-music-area .playme-music-content .likes-share-download a:focus, .playme-music-area .playme-music-content .likes-share-download a:hover {
          color: var(--blue); }
  .playme-music-area.style-2 {
    margin-bottom: 30px;
    background-color: #ffffff;
    box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.1); }
    .playme-music-area.style-2 .playme-music-thumbnail {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%; }
    .playme-music-area.style-2 .playme-music-content {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
      flex: 0 0 100%;
      max-width: 100%;
      width: 100%; }

.audioplayer {
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  border: none;
  border-radius: 0;
  padding-bottom: 10px; }
  .audioplayer .audioplayer-playpause {
    width: 35px;
    height: 35px;
    transition: all 0 ease-in-out; }
  .audioplayer .audioplayer-bar::before {
    top: 2px;
    height: 5px;
    background-color: #e1e1e1; }
  .audioplayer .audioplayer-bar > div {
    top: 2px; }
  .audioplayer .audioplayer-bar-loaded {
    display: none; }
  .audioplayer .audioplayer-bar-played {
    background: var(--blue);
    height: 5px; }
    .audioplayer .audioplayer-bar-played::after {
      display: none; }
  .audioplayer .audioplayer-time {
    font-size: 14px;
    color: #232323;
    font-weight: 600; }
  .audioplayer .audioplayer-volume-adjust > div {
    height: 5px; }
  .audioplayer .audioplayer-volume-adjust div div {
    background-color: var(--blue);
    height: 5px; }
  .audioplayer:not(.audioplayer-playing) .audioplayer-playpause, .audioplayer:not(.audioplayer-playing) .audioplayer-playpause:hover {
    background-color: var(--blue); }
  .audioplayer:not(.audioplayer-playing) .audioplayer-playpause a {
    margin-left: 3px;
    border-left: 12px solid #ffffff; }

.playme-projects-menu {
  position: relative;
  z-index: 1; }
  .playme-projects-menu .btn {
    color: #a6a6a6;
    font-size: 20px;
    padding: 0 10px;
    background-color: transparent;
    border-radius: 0;
    font-weight: 600;
    position: relative;
    z-index: 1; }
    @media only screen and (max-width: 767px) {
      .playme-projects-menu .btn {
        font-size: 14px; } }
    .playme-projects-menu .btn.active {
      color: #232323; }
      .playme-projects-menu .btn.active::after {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: var(--blue);
        content: '';
        z-index: 1; }
    .playme-projects-menu .btn:focus, .playme-projects-menu .btn:hover {
      box-shadow: none;
      color: #232323; }

.playme-music-player.style-2 .audioplayer {
  background-color: transparent !important; }
  .playme-music-player.style-2 .audioplayer .audioplayer-time {
    color: #ffffff; }

.single-podcast-breadcumb .playme-music-area .playme-music-content .likes-share-download {
  border-color: rgba(255, 255, 255, 0.2); }

/* :: 10.0 Guest CSS */
.single-featured-guest {
  position: relative;
  z-index: 1; }
  .single-featured-guest img {
    width: 100%; }
  .single-featured-guest .guest-info {
    position: relative;
    z-index: 1;
    margin-top: 30px;
    text-align: center; }
    .single-featured-guest .guest-info h5 {
      font-size: 22px;
      display: block;
      margin-bottom: 5px; }
    .single-featured-guest .guest-info span {
      display: block;
      color: var(--blue);
      font-size: 14px;
      margin-bottom: 0; }

/* :: 11.0 About CSS */
.about-us-content {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .about-us-content h1,
    .about-us-content h2 {
      font-size: 24px; } }

/* :: 12.0 Newsletter CSS */
.playme-newsletter-area {
  position: relative;
  z-index: 1;
  background-attachment: fixed; }
  .playme-newsletter-area .newsletter-content h2 {
    color: #ffffff;
    font-size: 48px;
    margin-bottom: 5px; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .playme-newsletter-area .newsletter-content h2 {
        font-size: 36px; } }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .playme-newsletter-area .newsletter-content h2 {
        font-size: 36px; } }
    @media only screen and (max-width: 767px) {
      .playme-newsletter-area .newsletter-content h2 {
        font-size: 24px; } }
  .playme-newsletter-area .newsletter-content h6 {
    color: #ffffff;
    margin-bottom: 0; }
    @media only screen and (max-width: 767px) {
      .playme-newsletter-area .newsletter-content h6 {
        font-size: 14px; } }
  .playme-newsletter-area .newsletter-form {
    position: relative;
    z-index: 1;
    width: 100%; }
    .playme-newsletter-area .newsletter-form .form-control {
      width: 100%;
      height: 45px;
      border-radius: 30px;
      background-color: #ffffff;
      border: none;
      padding: 0 30px;
      font-size: 13px;
      font-style: italic; }
      .playme-newsletter-area .newsletter-form .form-control:focus {
        box-shadow: none; }
    .playme-newsletter-area .newsletter-form button {
      font-weight: 600;
      letter-spacing: 1px;
      padding: 0;
      width: 140px;
      text-transform: uppercase;
      border: none;
      border-radius: 0 30px 30px 0;
      position: absolute;
      line-height: 47px;
      top: 0;
      right: 0;
      z-index: 10;
      height: 45px;
      background-color: var(--blue);
      color: #ffffff; }
      .playme-newsletter-area .newsletter-form button:focus, .playme-newsletter-area .newsletter-form button:hover {
        box-shadow: none;
        background-color: #000000; }
      @media only screen and (max-width: 767px) {
        .playme-newsletter-area .newsletter-form button {
          width: 120px;
          letter-spacing: 0; } }


/* :: 14.0 music CSS */
.single-music-area {
  position: relative;
  z-index: 1; }
  .single-music-area a {
    display: block; }
  .single-music-area .post-title {
    font-size: 42px;
    display: block;
    margin-bottom: 15px;
    color: #232323;
    font-weight: 600; }
    @media only screen and (max-width: 767px) {
      .single-music-area .post-title {
        font-size: 24px; } }
    @media only screen and (min-width: 576px) and (max-width: 767px) {
      .single-music-area .post-title {
        font-size: 30px; } }
    .single-music-area .post-title:focus, .single-music-area .post-title:hover {
      color: var(--blue); }
  .single-music-area .post-content {
    position: relative;
    z-index: 1;
    margin-bottom: 15px; }
    .single-music-area .post-content .post-date {
      font-size: 12px;
      text-transform: uppercase;
      color: var(--blue);
      letter-spacing: 1px;
      display: block;
      margin-bottom: 5px;
      font-weight: 600; }
    .single-music-area .post-content h2 {
      font-size: 42px; }
    .single-music-area .post-content .post-meta {
      line-height: 1; }
      .single-music-area .post-content .post-meta a {
        display: inline-block;
        font-size: 14px;
        color: #666666;
        margin-right: 5px;
        text-transform: uppercase; }
        .single-music-area .post-content .post-meta a:focus, .single-music-area .post-content .post-meta a:hover {
          color: var(--blue); }
    .single-music-area .post-content p {
      font-size: 18px;
      color: #232323; }
    .single-music-area .post-content .read-more-btn {
      font-size: 18px;
      font-weight: 600;
      color: var(--blue); }
      .single-music-area .post-content .read-more-btn:focus, .single-music-area .post-content .read-more-btn:hover {
        color: #232323; }

.playme-pagination {
  position: relative;
  z-index: 1; }
  .playme-pagination .pagination .page-item .page-link {
    width: 40px;
    height: 40px;
    border-radius: 3px;
    padding: 0;
    line-height: 38px;
    margin: 0 5px;
    text-align: center;
    background-color: transparent;
    color: #666666;
    font-size: 16px; }
    .playme-pagination .pagination .page-item .page-link:focus, .playme-pagination .pagination .page-item .page-link:hover {
      background-color: var(--blue);
      border-color: var(--blue);
      color: #ffffff; }
  .playme-pagination .pagination .page-item.active .page-link {
    background-color: var(--blue);
    border-color: var(--blue);
    color: #ffffff; }



.podcast-details-content {
  position: relative;
  z-index: 1; }
  @media only screen and (min-width: 576px) and (max-width: 767px) {
    .podcast-details-content h1,
    .podcast-details-content h2 {
      font-size: 24px; } }
  .podcast-details-content .post-content {
    position: relative;
    z-index: 1;
    margin-bottom: 15px; }
    .podcast-details-content .post-content .post-date {
      font-size: 12px;
      text-transform: uppercase;
      color: var(--blue);
      letter-spacing: 1px;
      display: block;
      margin-bottom: 5px;
      font-weight: 600; }
    .podcast-details-content .post-content h2 {
      font-size: 42px; }
      @media only screen and (max-width: 767px) {
        .podcast-details-content .post-content h2 {
          font-size: 24px; } }
    .podcast-details-content .post-content .post-meta {
      line-height: 1; }
      .podcast-details-content .post-content .post-meta a {
        display: inline-block;
        font-size: 14px;
        color: #666666;
        margin-right: 5px;
        text-transform: uppercase; }
        .podcast-details-content .post-content .post-meta a:focus, .podcast-details-content .post-content .post-meta a:hover {
          color: var(--blue); }

.playme-pager {
  position: relative;
  z-index: 1;
  border-top: 1px solid #ebebeb;
  padding-top: 30px; }
  .playme-pager a {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    width: 50%;
    font-size: 16px;
    color: #a6a6a6; }
    .playme-pager a span {
      display: block;
      font-size: 18px;
      color: #232323;
      font-weight: 600;
      -webkit-transition-duration: 500ms;
      -o-transition-duration: 500ms;
      transition-duration: 500ms; }
      @media only screen and (max-width: 767px) {
        .playme-pager a span {
          font-size: 12px; } }
      .playme-pager a span:focus, .playme-pager a span:hover {
        color: var(--blue); }
    .playme-pager a:last-child {
      text-align: right; }

/* :: 15.0 Widget CSS */
.search-widget-area form {
  position: relative;
  z-index: 1; }
  .search-widget-area form input {
    -webkit-transition-duration: 500ms;
    -o-transition-duration: 500ms;
    transition-duration: 500ms;
    width: 100%;
    height: 45px;
    border: 1px solid #ebebeb;
    background-color: transparent;
    padding: 0 15px;
    color: #ffffff;
    font-size: 14px;
    border-radius: 0; }
    .search-widget-area form input:focus {
      box-shadow: none;
      border: 1px solid var(--blue); }
  .search-widget-area form button {
    width: 50px;
    height: 45px;
    background-color: var(--blue);
    padding: 0 15px;
    color: #ffffff;
    font-size: 14px;
    border: none;
    border-radius: 0;
    position: absolute;
    top: 0;
    right: 0;
    z-index: 100;
    cursor: pointer;
    line-height: 45px; }

.single-widget-area {
  position: relative;
  z-index: 1; }
  .single-widget-area .widget-title {
    margin-bottom: 30px;
    font-size: 30px;
    text-transform: capitalize; }
    @media only screen and (max-width: 767px) {
      .single-widget-area .widget-title {
        font-size: 24px; } }

.catagories-list {
  position: relative;
  z-index: 1; }
  .catagories-list li a {
    display: block;
    padding: 10px 0;
    font-size: 18px;
    color: #232323;
    font-weight: bold; }
    @media only screen and (max-width: 767px) {
      .catagories-list li a {
        font-size: 16px; } }
    .catagories-list li a:focus, .catagories-list li a:hover {
      color: var(--blue); }
  .catagories-list li:first-child a {
    padding-top: 0; }
  .catagories-list li:last-child a {
    padding-bottom: 0; }



.tags-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  .tags-list li a {
    display: inline-block;
    padding: 8px 20px;
    border: 1px solid #ebebeb;
    background-color: #ffffff;
    color: #232323;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 600;
    margin: 3px; }
    .tags-list li a:focus, .tags-list li a:hover {
      background-color: var(--blue);
      color: #ffffff; }

/* :: 16.0 Footer CSS */
.footer-area {
  position: relative;
  z-index: 1; }

.single-footer-widget {
  position: relative;
  z-index: 1; }
  .single-footer-widget .widget-title {
    color: #232323;
    margin-bottom: 30px;
    display: block; }
  .single-footer-widget p {
    color: #666666;
    font-size: 16px;
    line-height: 1.8; }
  .single-footer-widget .footer-social-info a {
    display: inline-block;
    color: #ffffff;
    margin-right: 5px;
    background-color: var(--blue);
    width: 40px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px; }
    .single-footer-widget .footer-social-info a.facebook {
      background-color: #4c60ac; }
    .single-footer-widget .footer-social-info a.twitter {
      background-color: #00bae3; }
    .single-footer-widget .footer-social-info a.pinterest {
      background-color: #d91a18; }
    .single-footer-widget .footer-social-info a.instagram {
      background-color: #0085d7; }
    .single-footer-widget .footer-social-info a.youtube {
      background-color: #e20000; }
    @media only screen and (min-width: 992px) and (max-width: 1199px) {
      .single-footer-widget .footer-social-info a {
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-size: 14px; } }
  .single-footer-widget .catagories-nav {
    position: relative;
    z-index: 1; }
    .single-footer-widget .catagories-nav li a {
      font-size: 16px;
      color: #666666;
      margin-bottom: 15px;
      display: block;
      font-weight: 500; }
      .single-footer-widget .catagories-nav li a:focus, .single-footer-widget .catagories-nav li a:hover {
        color: var(--blue); }
    .single-footer-widget .catagories-nav li:last-child a {
      margin-bottom: 0; }
  .single-footer-widget .single-latest-episodes {
    position: relative;
    z-index: 1;
    border-bottom: 1px solid #ebebeb;
    margin-bottom: 15px; }
    .single-footer-widget .single-latest-episodes:last-child {
      border-bottom: none;
      margin-bottom: 0; }
    .single-footer-widget .single-latest-episodes .episodes-date {
      font-size: 12px;
      text-transform: uppercase;
      color: #a6a6a6;
      font-weight: 500;
      letter-spacing: 1px;
      margin-bottom: 5px; }
    .single-footer-widget .single-latest-episodes .episodes-title {
      font-size: 18px;
      margin-bottom: 8px;
      font-weight: 600;
      color: #232323;
      display: block; }
      @media only screen and (min-width: 992px) and (max-width: 1199px) {
        .single-footer-widget .single-latest-episodes .episodes-title {
          font-size: 14px; } }
      .single-footer-widget .single-latest-episodes .episodes-title:focus, .single-footer-widget .single-latest-episodes .episodes-title:hover {
        color: var(--blue); }

.copywrite-content {
  position: relative;
  z-index: 1;
  margin-top: 20px; }
  .copywrite-content p {
    font-size: 14px;
    color: #a6a6a6;
    margin-bottom: 0; }
    .copywrite-content p a {
      color: #a6a6a6; }
      .copywrite-content p a:focus, .copywrite-content p a:hover {
        color: var(--blue); }

/* :: 17.0 Contact Area */
.playme-contact-area {
  position: relative;
  z-index: 1; }
  .playme-contact-area .google-maps {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 450px; }
    @media only screen and (max-width: 767px) {
      .playme-contact-area .google-maps {
        height: 280px; } }
    .playme-contact-area .google-maps iframe {
      width: 100%;
      height: 100%;
      border: none; }

.contact-information {
  position: relative;
  z-index: 1; }
  @media only screen and (max-width: 767px) {
    .contact-information {
      margin-bottom: 100px; } }
  .contact-information .contact-heading h2 {
    display: block;
    margin-bottom: 5px;
    font-size: 36px; }
    @media only screen and (max-width: 767px) {
      .contact-information .contact-heading h2 {
        font-size: 24px; } }
  .contact-information .contact-heading h6 {
    margin-bottom: 30px;
    font-size: 18px; }
    @media only screen and (max-width: 767px) {
      .contact-information .contact-heading h6 {
        font-size: 14px; } }
  .contact-information .contact-heading p {
    margin-bottom: 0; }
  .contact-information h5 {
    margin-bottom: 10px;
    font-weight: 400; }
    @media only screen and (max-width: 767px) {
      .contact-information h5 {
        font-size: 16px; } }

.contact-form {
  position: relative;
  z-index: 1; }
  .contact-form .contact-heading {
    margin-bottom: 30px; }
    .contact-form .contact-heading h2 {
      display: block;
      margin-bottom: 5px;
      font-size: 36px; }
      @media only screen and (max-width: 767px) {
        .contact-form .contact-heading h2 {
          font-size: 24px; } }
    .contact-form .contact-heading h5 {
      margin-bottom: 0;
      font-size: 18px; }
      @media only screen and (max-width: 767px) {
        .contact-form .contact-heading h5 {
          font-size: 14px; } }
  .contact-form .form-control {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    font-size: 13px;
    font-style: italic;
    text-transform: capitalize; }
    .contact-form .form-control:focus {
      box-shadow: none;
      border-color: var(--blue); }
  .contact-form textarea.form-control {
    height: 110px;
    padding: 15px; }






.grid-parent {
    display: grid;
    grid-template-columns: 10% 40% 30% 20%;
    grid-template-rows: 50px;
    
}


.grid-items {

  padding-top: 15px;
}



.grid-child h5 {
    font-size:15px;
    padding-top: 5px;
    padding-left: 13px

}

.grid-color:nth-child(odd){
  background-color:#e4e4e4;
  
}

.grid-child h2 {
    font-size: 20px;
    font-weight: 700;
    padding-top: 13px;

}


    
.music-page-space-maker {

    height: 30%;

}

.now-playing {
  font-size: 16px; 
  color: #fff;
  text-align: center;
  position: fixed;
  left: 200px;
  top: 20px;

}


.bottomright {
  position: fixed;
  bottom: 0px;
  right: 0px;
}

.demo {
  background-color: white;
  padding: 20px;
  margin: 5px;
  -webkit-box-shadow: -9px -2px 88px -14px rgba(0,0,0,0.75);
  -moz-box-shadow: -9px -2px 88px -14px rgba(0,0,0,0.75);
  box-shadow: -9px -2px 88px -14px rgba(0,0,0,0.75);

}

.search-icon{
  font-size: 18px;
  padding-left: 10px;
}

.search-bar{

  position: absolute;
  width: 85%;
  height: 50px;
  background-color: white;
  margin-left: 30px;
  display: none;
}

.search-field{
  border: none;
  width: 100%;
  height: 50px;
  font-size: 20px;
  padding-left: 10px;
  outline: none;

}

.background-image {
  background-image:  url("/playme-master/playme/img/bg-img/3.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.middle {
  height: 500px;
  left: 50%;
  margin-top: -250px;
  margin-left: -200px;
  position: absolute;
  top: 50%;
  width: 400px;
}


.login-background{
  background-image: url("img/bg-img/login-bg.jpg");
  height: 100%;
  width: 100%;
}

.login {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);

}
.login h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}

.login h3 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.login form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.login form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  background-color: #3274d6;
  color: #ffffff;
}
.login form input[type="password"], .login form input[type="text"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.login form input[type="submit"] {
  width: 100%;
  padding: 15px;
 margin-top: 20px;
  background-color: #3274d6;
  border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.login form input[type="submit"]:hover {
background-color: #2868c7;
  transition: background-color 0.2s;
}


.register {
  width: 400px;
  background-color: #ffffff;
  box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}
.register h1 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}

.register h3 {
  text-align: center;
  color: #5b6574;
  font-size: 24px;
  padding: 20px 0 20px 0;
  border-bottom: 1px solid #dee0e4;
}
.register form {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 20px;
}
.register form label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
 height: 50px;
  background-color: --blue;
  color: #ffffff;
}
.register form input[type="password"], .register form input[type="text"], .register form input[type="email"] {
  width: 310px;
  height: 50px;
  border: 1px solid #dee0e4;
  margin-bottom: 20px;
  padding: 0 15px;
}
.register form input[type="submit"] {
  width: 100%;
  padding: 15px;
  margin-top: 20px;
  background-color: #3274d6;
 border: 0;
  cursor: pointer;
  font-weight: bold;
  color: #ffffff;
  transition: background-color 0.2s;
}
.register form input[type="submit"]:hover {
background-color: #2868c7;
  transition: background-color 0.2s;
}

.login-error{
  background-color: red;
  text-align: center;
  font-size: 16px;
  display: none;
}

#loginloader {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 99999;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  display: none;
  backdrop-filter: blur(10px);
 }
  #loginloader .loginloader-thumbnail {
    position: absolute;
    top: 50%;
    left: 50%;
    max-width: 50px;
    -webkit-animation: playmerotate linear 1s infinite;
    animation: playmerotate linear 1s infinite; }